body{
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
p{font-size: 45px;}
.text{
    padding: 40px;
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
}
.span{padding-bottom: 25px;}
.register{
    height: 35px;
    width: 180px;
    border-radius: 17px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register:hover{
    height: 35px;
    width: 180px;
    border-radius: 17px;
    color: white;
    background-color: hsl(300, 69%, 71%);
    display: flex;
    justify-content: center;
    align-items: center;
}